/* CHECKOUT */
.checkout-background {
    width: 100vw;
    max-width: 600px;
    height: auto;
  }
  .checkout-background img {
    width: 100vw;
    max-width: 600px;
    height: calc(100vh - 200px);
    object-fit: cover;
  }
  .checkout-steps {
    position: absolute;
    bottom: 0;
  
    background-color: white;
  
    padding: 20px 10px;
    margin: 0;
  
    height: 100px;
    width: 100vw;
    max-width: 600px;
  }
  .arrows {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
  
    cursor: pointer;
  
    position: absolute;
    bottom: 90px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .prev-arrow {
    left: 10px;
  }
  .next-arrow {
    right: 10px;
  }
  .arrows ion-icon {
    font-size: 70px;
    color: #f35356;
  }