.content {
  width: 100vw;
  max-width: 600px;

  margin: 0 auto;

  position: relative;
}
.text-content {
  width: 100vw;
  max-width: 600px;

  padding: 15px;

  margin: 0 auto;
}
.text-content img {
  width: calc(100vw - 30px);
  max-width: 400px;
}
.text-content ul {
  list-style: none;
  padding-left: 15px;
}


