.content {
  width: 100vw;
  max-width: 600px;

  margin: 0 auto;

  position: relative;
}
.text-content {
  width: 100vw;
  max-width: 600px;

  padding: 15px;

  margin: 0 auto;
}
.text-content img {
  width: calc(100vw - 30px);
  max-width: 400px;
}
.text-content ul {
  list-style: none;
  padding-left: 15px;
}

/* CHECKOUT */
.checkout-background {
  width: 100vw;
  max-width: 600px;
  height: auto;
}
.checkout-background img {
  width: 100vw;
  max-width: 600px;
  height: calc(100vh - 80px);
  object-fit: cover;
}
.checkout-steps {
  position: absolute;
  bottom: 0;

  background-color: white;

  padding: 20px 10px;
  margin: 0;

  height: 100px;
  width: 100vw;
  max-width: 600px;
}
.arrows {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;

  cursor: pointer;

  position: absolute;
  bottom: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.prev-arrow {
  left: 10px;
}
.next-arrow {
  right: 10px;
}
.arrows ion-icon {
  font-size: 60px;
  color: #f35356;
}
