.guides-page-content {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  height: auto;

  margin: 10px auto;
}

.machines img {
  height: 55px;
}
.machines h5 {
  font-weight: bold;
  text-align: center;
  padding: 0 15px;
}

.machines {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  width: calc(50vw - 20px);
  max-width: calc(300px - 20px);
  height: 180px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  border-radius: 20px;
  margin: 10px;
}
