li {
  text-decoration: none;
}
.header {
  background-color: #ff5a5f;
  height: 80px;
}
.header-content {
  max-width: 600px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;

  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  z-index: 100;
  padding: 0 15px;
}

.header-content h1 {
  margin: 0;
}
@media (max-width: 400px) {
  .header-content h1 {
    font-size: 35px;
  }
}
.header-content ion-icon {
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.navbar {
  position: absolute;
  padding: 0;

  right: 0;
  top: 80px;

  height: 0;

  width: 100vw;
  max-width: 300px;

  background-color: #ff5a5f;
  color: white;

  transition: height ease 0.5s;
  overflow: hidden;
}
.navbar ul {
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
}

.arrow {
  transform: rotate(-90deg);
  color: black !important;
}
