body {
  margin: 0;
  padding: 0;
  font-family: "Airbnb Cereal App", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
.content {
  margin-left: auto;
  margin-right: auto;

  max-width: 1024px;
  width: 100vw;
}
.page-title {
  background-color: rgb(255, 235, 238);
  padding: 10px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 600px;

  margin-right: auto !important;
  margin-left: auto !important;
}
button {
  border-radius: 10px;
  font-size: 23px;
  font-weight: bold;
  background-color: rgb(241, 241, 241);
  color: rgb(0, 157, 255);
  border: unset;
  padding: 2px 13px;
  outline: unset;
}