li {
  text-decoration: none;
}
.header {
  background-color: #ff5a5f;
  height: 80px;
}
.header-content {
  max-width: 600px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;

  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  z-index: 100;
  padding: 0 15px;
}

.header-content img {
  margin: 0;
  width: 60%;
}

.header-content ion-icon {
  color: white;
  font-size: 45px;
  cursor: pointer;
  width: 100px;
  text-align: right;
}

.navbar {
  position: absolute;
  padding: 0;

  right: 0;
  top: 80px;

  height: 0;

  width: 100vw;
  max-width: 300px;

  background-color: #ff5a5f;
  color: white;

  transition: height ease 0.5s;
  overflow: hidden;
}
.navbar ul {
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
}

.arrow {
  transform: rotate(-90deg);
  color: black !important;
}
.footer {
  background-color: rgb(204, 204, 204);
  padding: 20px;
  margin-top: 50px;
  font-size: 14px;
}
.footer ion-icon {
  transform: translateY(1.7px);
}
.footer b {
  text-decoration: underline;
}

@media (max-width: 415px) {
  .header-content img {
    width: 80%;
  }
  .header-content ion-icon {
    width: 190px;
  }
}