.filtering {
    width: calc(100vw - 30px);
  
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  
    max-width: 600px;
    margin: 10px auto;
    cursor: pointer;
  }
  .filtering h6 {
    padding: 5px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
  }
  .highlight {
    background-color: cadetblue;
    color: white;
  }
  .bestof {
    margin: 8px 0px;
    padding: 3px;
    font-size: 14px;
    background-color: rgb(255, 227, 67);
    width: fit-content;
    border-radius: 9px;
    border: solid 3px rgb(255, 196, 35);
  }
  .locations-popups img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 15px 0;
  }
  .foodandculture input {
    width: calc(100vw - 30px);
    max-width: 600px;
    padding: 10px;
  
    border-radius: 10px;
    outline: none;
    border: solid 1px grey;
  
    margin: 10px auto 0 auto;
  }
  